Repository kowainik/summoner, pull requests merged in 2018-11, with the labels that each got.

#186 [#178] Remove trailing spaces, newlines
  CHANGELOG.md
  src/Summoner/GhcVer.hs
  src/Summoner/Template/Cabal.hs
  src/Summoner/Template/Doc.hs
  src/Summoner/Template/GitHub.hs
  src/Summoner/Template/Haskell.hs
  src/Summoner/Template/Stack.hs
Labels: Hacktoberfest, generated project, refactoring

#191 Rename settingsBase, -Vey, -Github to -BaseType, -Veyor, -GitHub
  src/Summoner/Project.hs
  src/Summoner/Settings.hs
  src/Summoner/Template/Cabal.hs
  src/Summoner/Template/Doc.hs
  src/Summoner/Template/GitHub.hs
Labels: Hacktoberfest, refactoring

#192 Added --no-upload option (#184)
  CHANGELOG.md
  src/Summoner/CLI.hs
  src/Summoner/Project.hs
Labels: CLI, Git/Hub, Hacktoberfest, feature

#200 [#142] Add base bounds to the generated cabal file
  CHANGELOG.md
  src/Summoner/GhcVer.hs
  src/Summoner/Template/Cabal.hs
Labels: generated project

#201 [#199] Add `None` license with no `LICENSE` file generation.
  CHANGELOG.md
  src/Summoner/CLI.hs
  src/Summoner/License.hs
  src/Summoner/Project.hs
  src/Summoner/Template/Cabal.hs
  src/Summoner/Template/Doc.hs
Labels: feature, generated project

#204 [#195] Update CLI prompts
  CHANGELOG.md
  src/Summoner/Decision.hs
  src/Summoner/Project.hs
  src/Summoner/Question.hs
  summoner.cabal
  test/Test/QuestionSpec.hs
Labels: CLI, UX/UI, refactoring

#198 [#197] Update lts and other settings for GHC-8.4.4
  .travis.yml
  CHANGELOG.md
  src/Summoner/GhcVer.hs
  src/Summoner/Template/Stack.hs
  stack.yaml
  summoner.cabal
Labels: CI, generated project

#203 [#155] Migrate to tomland-0.5.0
  .travis.yml
  CHANGELOG.md
  src/Summoner/Config.hs
  src/Summoner/GhcVer.hs
  src/Summoner/Settings.hs
  src/Summoner/Source.hs
  stack-8.2.2.yaml
  stack-8.6.1.yaml
  stack-8.6.2.yaml
  stack.yaml
  summoner.cabal
Labels: config

#205 [#202] Bump up relude to 0.4.0
  .travis.yml
  CHANGELOG.md
  src/Prelude.hs
  src/Summoner.hs
  src/Summoner/Ansi.hs
  src/Summoner/CLI.hs
  src/Summoner/Config.hs
  src/Summoner/GhcVer.hs
  src/Summoner/License.hs
  src/Summoner/Process.hs
  src/Summoner/Project.hs
  src/Summoner/Question.hs
  src/Summoner/Validation.hs
  stack-8.2.2.yaml
  stack-8.6.2.yaml
  stack.yaml
  summoner.cabal
Labels: docs, refactoring

#206 [#185] Add golden tests
  CHANGELOG.md
  src/Summoner.hs
  summoner.cabal
  test/Spec.hs
  test/Test/DecisionSpec.hs
  test/Test/Golden.hs
  test/Test/QuestionSpec.hs
  test/Test/TomlSpec.hs
  test/golden/fullProject/.gitignore
  test/golden/fullProject/.stylish-haskell.yaml
  test/golden/fullProject/.travis.yml
  test/golden/fullProject/CHANGELOG.md
  test/golden/fullProject/CONTRIBUTING.md
  test/golden/fullProject/LICENSE
  test/golden/fullProject/README.md
  test/golden/fullProject/app/Main.hs
  test/golden/fullProject/appveyor.yml
  test/golden/fullProject/benchmark/Main.hs
  test/golden/fullProject/fullProject.cabal
  test/golden/fullProject/src/FullProject.hs
  test/golden/fullProject/src/Prelude.hs
  test/golden/fullProject/stack-8.0.2.yaml
  test/golden/fullProject/stack-8.2.2.yaml
  test/golden/fullProject/stack.yaml
  test/golden/fullProject/test/Spec.hs
  test/golden/smallProject/CHANGELOG.md
  test/golden/smallProject/README.md
  test/golden/smallProject/app/Main.hs
  test/golden/smallProject/smallProject.cabal
Labels: tests

#207 [#11] Support offline mode
  CHANGELOG.md
  README.md
  src/Summoner/CLI.hs
  src/Summoner/Project.hs
  src/Summoner/Source.hs
Labels: CLI, UX/UI, feature

#209 Basic layout for TUI
  app/Cli.hs
  app/Tui.hs
  src/Summoner/Tui.hs
  src/Summoner/Tui/CheckBox.hs
  src/Summoner/Tui/GroupBorder.hs
  src/Summoner/Tui/Kit.hs
  stack-8.2.2.yaml
  stack-8.6.2.yaml
  stack.yaml
  summoner.cabal
Labels: TUI

#211 Introduce EditField data type
  src/Summoner/Tui.hs
  src/Summoner/Tui/EditField.hs
  src/Summoner/Tui/Kit.hs
  summoner.cabal
Labels: TUI

#210 [#208] Add tools section
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI

#212 Add user form
  src/Summoner/Tui.hs
  src/Summoner/Tui/EditField.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI

#214 [#208] Add Project TUI section
  src/Summoner/Tui.hs
  src/Summoner/Tui/CheckBox.hs
  src/Summoner/Tui/GroupBorder.hs
  src/Summoner/Tui/Kit.hs
  summoner.cabal
Labels: TUI

#215 [#208] Better help form
  src/Summoner/Tui.hs
Labels: TUI

#216 [#208] Add Project Meta section
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI

#217 Add textField for Forms
  src/Summoner/Tui.hs
  src/Summoner/Tui/Forms.hs
  summoner.cabal
Labels: TUI, wontfix

#218 [#208] Make checkboxes disableable
  src/Summoner/Tui.hs
  src/Summoner/Tui/Forms.hs
Labels: TUI

#219 [#208] Add basic on-the-fly error reporting
  src/Summoner/Tui.hs
Labels: TUI

#220 [#208] Implement validation for project existence
  src/Summoner/Tui.hs
Labels: TUI

#221 Add basic structured tree widget
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI

#223 [#208] Make tools section horizontal
  src/Summoner/Project.hs
  src/Summoner/Tree.hs
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
  src/Summoner/Tui/Widget.hs
  summoner.cabal
Labels: TUI

#225 Add CLI to summon-tui
  app/Cli.hs
  src/Summoner/CLI.hs
  src/Summoner/License.hs
  src/Summoner/Tui.hs
  src/Summoner/Tui/Widget.hs
Labels: CLI, TUI

#224 Move out Form and Validation logic
  src/Summoner/Tui.hs
  src/Summoner/Tui/Field.hs
  src/Summoner/Tui/Form.hs
  src/Summoner/Tui/Validation.hs
  summoner.cabal
Labels: TUI, refactoring

#226 Various TUI improvements
  src/Summoner/Tui.hs
  src/Summoner/Tui/Form.hs
  src/Summoner/Tui/Kit.hs
  src/Summoner/Tui/Validation.hs
  src/Summoner/Tui/Widget.hs
  stack-8.2.2.yaml
  stack-8.6.2.yaml
  stack.yaml
  summoner.cabal
Labels: TUI

#227 [#208] Fill SummonKit by the config and CLI
  src/Summoner/CLI.hs
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI, config

#229 Preserve focus on creating new form
  src/Summoner/Tui.hs
  src/Summoner/Tui/Form.hs
Labels: TUI

#230 [#208] Create the project via TUI interface
  src/Summoner/CLI.hs
  src/Summoner/Project.hs
  src/Summoner/Settings.hs
  src/Summoner/Tui.hs
  src/Summoner/Tui/Kit.hs
  test/Test/Golden.hs
Labels: TUI

#231 Customize checkboxes and colors for edit fields
  src/Summoner/Tui.hs
  src/Summoner/Tui/Field.hs
  src/Summoner/Tui/Form.hs
Labels: TUI

#232 [#208] Refactor TUI module, add more docs
  src/Summoner/Tui.hs
  src/Summoner/Tui/Field.hs
  src/Summoner/Tui/Form.hs
  src/Summoner/Tui/GroupBorder.hs
  src/Summoner/Tui/Kit.hs
Labels: TUI, refactoring

#235 [#208] Improve Help
  src/Summoner/Tui.hs
  src/Summoner/Tui/GroupBorder.hs
  src/Summoner/Tui/Validation.hs
Labels: TUI, refactoring

#236 Final validation
  src/Summoner/Tui/Form.hs
  src/Summoner/Tui/Kit.hs
  src/Summoner/Tui/Validation.hs
Labels: TUI

#241 [#208] Add confirm window on Enter
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: TUI, UX/UI

#242 [#208] Handle checkboxes better
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Field.hs
  summoner-tui/src/Summoner/Tui/Form.hs
  summoner-tui/src/Summoner/Tui/Validation.hs
Labels: TUI

#245 [#243] Make project name optional in cli arguments
  README.md
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Question.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: CLI, TUI, feature

#249 Add info to some form fields, add Info coloring
  summoner-tui/src/Summoner/Tui.hs
Labels: TUI, UX/UI

#250 Display whether config was used
  summoner-cli/src/Summoner/CLI.hs
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: TUI

#259 [#256] Add Appveyor CI
  README.md
  appveyor.yml
Labels: CI

#258 [#257] Update PR template, simplify
  .github/pull_request_template.md
Labels: docs

#263 [#37] Add HLint check to Travis of the generated project
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/golden/fullProject/.travis.yml
Labels: CI, feature

#262 Add Windows deploys from AppVeyor CI
  .travis.yml
  appveyor.yml
Labels: CI, windows

#264 Improve TUI colours, use lts 12.20
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/test/golden/fullProject/stack.yaml
  summoner-tui/src/Summoner/Tui.hs
Labels: UX/UI

#265 Revert optional project name
  README.md
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: CLI

#266 Update installation instructions and changelog
  README.md
  summoner-cli/CHANGELOG.md
  summoner-tui/CHANGELOG.md
Labels: docs
