Repository kowainik/summoner, pull requests merged in 2019-02, with the labels that each got.

#289 [#282] Allow users extend .gitignore
  README.md
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-cli/test/golden/fullProject/.gitignore
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: config, enhancement

#290 [#167] Add FAQ section with remote change info
  README.md
Labels: docs

#291 [#288] Use shellmet library
  stack-8.2.2.yaml
  stack-8.4.4.yaml
  stack.yaml
  summoner-cli/src/Summoner/Process.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/summoner.cabal
Labels: enhancement

#292 [#285] Implement 'summon script' command
  .travis.yml
  stack.yaml
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/src/Summoner/Template/Script.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Spec.hs
  summoner-cli/test/Test/Script.hs
  summoner-cli/test/golden/fullProject/.travis.yml
  summoner-cli/test/golden/fullProject/stack-8.4.4.yaml
  summoner-cli/test/golden/fullProject/stack.yaml
  summoner-tui/src/Summoner/Tui.hs
Labels: CI, CLI, feature, script
