Repository kowainik/summoner, pull requests merged in 2019-10, with the labels that each got.

#347 Refactor AppVeyor CI config
  appveyor.yml
Labels: CI, windows

#346 [#314] Add base and lts versions to summon show ghc output
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/Text.hs
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui.hs
Labels: CLI, Hacktoberfest, TUI, UX/UI

#353 Autofill prelude module name when package name is typed
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Validation.hs
Labels: Hacktoberfest, TUI, enhancement

#352 Allow users to add newline character in text fields
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
  summoner-tui/src/Summoner/Tui/Validation.hs
Labels: Hacktoberfest, TUI, enhancement

#355 Validate prelude package name in TUI
  summoner-cli/src/Summoner/Text.hs
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui/Validation.hs
Labels: Hacktoberfest, TUI, enhancement

#356 Validate package and module name in config
  summoner-cli/src/Summoner.hs
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/CustomPrelude.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/src/Summoner/Text.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Spec.hs
  summoner-cli/test/Test/CustomPrelude.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: config, tests

#350 [#315]: [WIP] Remove -fhide-source-paths options for stack
  summoner-cli/src/Summoner/Template/Stack.hs
  summoner-cli/test/golden/fullProject/stack-8.2.2.yaml
  summoner-cli/test/golden/fullProject/stack-8.4.4.yaml
  summoner-cli/test/golden/fullProject/stack.yaml
Labels: Hacktoberfest, enhancement, generated project

#357 [#338] Build summoner with GHC-8.8
  .gitignore
  .travis.yml
  stack-nightly.yaml
  stack.yaml
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/CustomPrelude.hs
  summoner-cli/src/Summoner/Decision.hs
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/License.hs
  summoner-cli/src/Summoner/Question.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/src/Summoner/Tree.hs
  summoner-cli/summoner.cabal
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui/Form.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
  summoner-tui/summoner-tui.cabal
Labels: library

#348 [#159] Scarf install instructions
  README.md
Labels: docs
