Repository kowainik/summoner, pull requests merged in 2019-11, with the labels that each got.

#359 Validate module name in TUI
  summoner-tui/CHANGELOG.md
  summoner-tui/src/Summoner/Tui/Validation.hs
Labels: TUI

#364 [#333] Introduce Map field for custom files to config
  cabal.project
  stack-nightly.yaml
  stack.yaml
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/TomlSpec.hs
Labels: config

#365 [#354] Validate package and module names in CLI
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Question.hs
Labels: CLI, enhancement

#366 Create specified extra files
  summoner-cli/src/Summoner.hs
  summoner-cli/src/Summoner/Process.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Shell.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/Golden.hs
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: config

#368 Add deprecation messages
  summoner-cli/src/Summoner/Project.hs
  summoner-tui/src/Summoner/Tui.hs
Labels: config

#370 [#315] Add docs on using newer build tools versions
  README.md
  summoner-cli/src/Summoner/Default.hs
Labels: docs

#372 [#333] Use key-value map for extra files
  README.md
  cabal.project
  stack-nightly.yaml
  stack.yaml
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Process.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/src/Summoner/Template.hs
  summoner-cli/src/Summoner/Tree.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-cli/test/golden/fullProject/extra.txt
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
  summoner-tui/summoner-tui.cabal
Labels: config, feature

#376 [#360] Use `mixisns` with `relude-0.6.0.0`
  .travis.yml
  stack-nightly.yaml
  summoner-cli/CHANGELOG.md
  summoner-cli/app/Cli.hs
  summoner-cli/src/Prelude.hs
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/License.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/src/Summoner/Template/Mempty.hs
  summoner-cli/src/Summoner/Text.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Prelude.hs
  summoner-cli/test/Test/DecisionSpec.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-tui/CHANGELOG.md
  summoner-tui/app/Tui.hs
  summoner-tui/src/Prelude.hs
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Form.hs
  summoner-tui/src/Summoner/Tui/Validation.hs
  summoner-tui/summoner-tui.cabal
Labels: enhancement

#377 [#373] Use tomland-1.2.1.0
  .travis.yml
  cabal.project
  stack-nightly.yaml
  stack.yaml
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Config.hs
  summoner-tui/CHANGELOG.md
Labels: config, library, refactoring

#378 [#374] Remove deprecated `warnings` field of the config
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: config

#379 [#367] Add `Raw` constructor to `Source` data type
  README.md
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-cli/test/golden/fullProject/.github/CODEOWNERS
Labels: config

#380 [#327] Improve Appveyor config
  appveyor.yml
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/golden/fullProject/appveyor.yml
Labels: CI, generated project, windows

#381 Improve OSS metadata, refactor
  CONTRIBUTING.md
  README.md
  cabal.project
  summoner-cli/CHANGELOG.md
  summoner-cli/src/Summoner.hs
  summoner-cli/src/Summoner/Ansi.hs
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/CustomPrelude.hs
  summoner-cli/src/Summoner/Decision.hs
  summoner-cli/src/Summoner/Default.hs
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/License.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Question.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/src/Summoner/Template.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/Doc.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/src/Summoner/Template/Mempty.hs
  summoner-cli/src/Summoner/Template/Script.hs
  summoner-cli/src/Summoner/Template/Stack.hs
  summoner-cli/src/Summoner/Text.hs
  summoner-cli/src/Summoner/Tree.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Field.hs
  summoner-tui/src/Summoner/Tui/Form.hs
  summoner-tui/src/Summoner/Tui/GroupBorder.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
  summoner-tui/src/Summoner/Tui/Validation.hs
  summoner-tui/src/Summoner/Tui/Widget.hs
Labels: docs
