Repository kowainik/summoner, pull requests merged in 2020-10, with the labels that each got.

#509 Allow brick 0.57 and vty 5.31
  summoner-tui/summoner-tui.cabal
Labels: library

#510 [#491] Add support for GHC-8.8.4
  .github/workflows/ci.yml
  .travis.yml
  CHANGELOG.md
  summoner-cli/examples/cabal-full/.github/workflows/ci.yml
  summoner-cli/examples/cabal-full/.travis.yml
  summoner-cli/examples/cabal-full/cabal-full.cabal
  summoner-cli/examples/full-batteries/.github/workflows/ci.yml
  summoner-cli/examples/full-batteries/.travis.yml
  summoner-cli/examples/full-batteries/full-batteries.cabal
  summoner-cli/examples/full-batteries/stack-8.8.3.yaml
  summoner-cli/examples/full-batteries/stack-8.8.4.yaml
  summoner-cli/examples/stack-full/.travis.yml
  summoner-cli/examples/stack-full/stack-8.8.3.yaml
  summoner-cli/examples/stack-full/stack-8.8.4.yaml
  summoner-cli/examples/stack-full/stack-full.cabal
  summoner-cli/examples/summoner-default.toml
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/Show.hs
  summoner-tui/summoner-tui.cabal
Labels: Hacktoberfest, ghc, hacktoberfest-accepted

#511 [#454] Implement cross-platform GitHub Actions.
  .github/workflows/ci.yml
  appveyor.yml
  summoner-cli/examples/cabal-full/.github/workflows/ci.yml
  summoner-cli/examples/cabal-full/.travis.yml
  summoner-cli/examples/cabal-full/appveyor.yml
  summoner-cli/examples/full-batteries/.github/workflows/ci.yml
  summoner-cli/examples/full-batteries/.travis.yml
  summoner-cli/examples/full-batteries/appveyor.yml
  summoner-cli/examples/stack-full/.github/workflows/ci.yml
  summoner-cli/examples/stack-full/README.md
  summoner-cli/examples/stack-full/appveyor.yml
  summoner-cli/src/Summoner/Default.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/Test/Golden.hs
Labels: CI, generated project, hacktoberfest-accepted

#515 [#507] Add support for GHC-8.10.2
  summoner-cli/examples/cabal-full/.github/workflows/ci.yml
  summoner-cli/examples/cabal-full/.travis.yml
  summoner-cli/examples/cabal-full/appveyor.yml
  summoner-cli/examples/cabal-full/cabal-full.cabal
  summoner-cli/examples/cabal-minimal/cabal-minimal.cabal
  summoner-cli/examples/full-batteries/.github/workflows/ci.yml
  summoner-cli/examples/full-batteries/.travis.yml
  summoner-cli/examples/full-batteries/appveyor.yml
  summoner-cli/examples/full-batteries/full-batteries.cabal
  summoner-cli/examples/full-batteries/stack.yaml
  summoner-cli/examples/stack-full/.github/workflows/ci.yml
  summoner-cli/examples/stack-full/.travis.yml
  summoner-cli/examples/stack-full/stack-full.cabal
  summoner-cli/examples/stack-full/stack.yaml
  summoner-cli/examples/summoner-default.toml
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/Script.hs
  summoner-cli/test/Test/Show.hs
  summoner-tui/summoner-tui.cabal
Labels: generated project, ghc

#516 [#448] Add -Wnoncanonical-monad-instances
  README.md
  summoner-cli/examples/cabal-full/cabal-full.cabal
  summoner-cli/examples/cabal-minimal/cabal-minimal.cabal
  summoner-cli/examples/stack-full/stack-full.cabal
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/summoner.cabal
  summoner-tui/summoner-tui.cabal
Labels: generated project, ghc
