Repository kowainik/summoner, pull requests merged in 2020-02, with the labels that each got.

#404 Remove nix support
  README.md
  default.nix
Labels: nix

#400 Migrate to colourista
  cabal.project
  stack-nightly.yaml
  stack.yaml
  summoner-cli/src/Summoner/Ansi.hs
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Question.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/src/Summoner/Tree.hs
  summoner-cli/summoner.cabal
Labels: CLI, enhancement, refactoring

#405 [#401] Support GHC-8.8.2
  .travis.yml
  CHANGELOG.md
  README.md
  appveyor.yml
  stack-nightly.yaml
  stack.yaml
  summoner-cli/src/Summoner/GhcVer.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/summoner.cabal
  summoner-cli/test/Test/Script.hs
  summoner-cli/test/Test/Show.hs
  summoner-cli/test/golden/fullProject/.github/workflows/ci.yml
  summoner-cli/test/golden/fullProject/.travis.yml
  summoner-cli/test/golden/fullProject/appveyor.yml
  summoner-cli/test/golden/fullProject/fullProject.cabal
  summoner-cli/test/golden/fullProject/stack-8.6.5.yaml
  summoner-cli/test/golden/fullProject/stack.yaml
  summoner-cli/test/golden/smallProject/smallProject.cabal
  summoner-tui/summoner-tui.cabal
Labels: CI, enhancement, generated project

#406 [#363] Use `generic-data` instead of `generic-deriving`
  CHANGELOG.md
  stack.yaml
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Decision.hs
  summoner-cli/summoner.cabal
Labels: library, refactoring

#408 [#246] Put common parts of the project inside `common` stanza
  CHANGELOG.md
  README.md
  summoner-cli/src/Summoner/Default.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/test/golden/fullProject/fullProject.cabal
  summoner-cli/test/golden/smallProject/smallProject.cabal
Labels: enhancement, generated project

#410 [#394] Warning if hub is not present
  CHANGELOG.md
  summoner-cli/src/Summoner/Project.hs
Labels: Git/Hub, enhancement

#409 [#361] Put all warnings under `if`s to always have them all
  .travis.yml
  CHANGELOG.md
  README.md
  summoner-cli/src/Summoner/License.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/Doc.hs
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/golden/fullProject/fullProject.cabal
  summoner-cli/test/golden/smallProject/smallProject.cabal
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: CI, docs, generated project, refactoring

#412 [#251] cabal 2.2 changes names of BSD licenses
  CHANGELOG.md
  summoner-cli/src/Summoner/License.hs
Labels: enhancement, generated project

#414 [#399] Add Haddock header to library module
  CHANGELOG.md
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/test/golden/fullProject/fullProject.cabal
  summoner-cli/test/golden/fullProject/src/FullProject.hs
  summoner-cli/test/golden/fullProject/test/Spec.hs
  summoner-cli/test/golden/smallProject/app/Main.hs
  summoner-cli/test/golden/smallProject/smallProject.cabal
Labels: enhancement, generated project

#415 [#345] Use `mixins` approach for a custom prelude by default
  CHANGELOG.md
  README.md
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template/Cabal.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/src/Summoner/Template/Stack.hs
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/golden/fullProject/fullProject.cabal
  summoner-cli/test/golden/fullProject/src/Prelude.hs
  summoner-cli/test/golden/fullProject/stack-8.0.2.yaml
  summoner-cli/test/golden/fullProject/stack-8.2.2.yaml
  summoner-cli/test/golden/fullProject/stack-8.4.4.yaml
  summoner-cli/test/golden/fullProject/stack-8.6.5.yaml
  summoner-cli/test/golden/fullProject/stack.yaml
  summoner-cli/test/golden/smallProject/smallProject.cabal
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: generated project

#416 [#375] Remove deprecated `stylish` and `contributing` fields of the config
  CHANGELOG.md
  README.md
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/src/Summoner/Template/Doc.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/test/Test/Golden.hs
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: config, enhancement, refactoring

#417 [#34] Github password.
  CHANGELOG.md
  summoner-cli/src/Summoner/Project.hs
Labels: Git/Hub

#419 [#418] Make cabal-2.4 default
  CHANGELOG.md
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/golden/fullProject/.github/workflows/ci.yml
  summoner-cli/test/golden/fullProject/.travis.yml
Labels: enhancement, generated project

#421 [#114] Add non-interactive mode for `summoner`
  .stylish-haskell.yaml
  CHANGELOG.md
  summoner-cli/src/Summoner.hs
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Decision.hs
  summoner-cli/src/Summoner/Default.hs
  summoner-cli/src/Summoner/License.hs
  summoner-cli/src/Summoner/Mode.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Question.hs
  summoner-cli/src/Summoner/Source.hs
  summoner-cli/summoner.cabal
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: CLI, enhancement

#424 Update ghc-options
  summoner-cli/summoner.cabal
  summoner-cli/test/Spec.hs
  summoner-tui/summoner-tui.cabal
Labels: refactoring

#426 Typo in default config
  summoner-cli/examples/summoner-default.toml
  summoner-cli/src/Summoner/Default.hs
Labels: bug, config
