Repository kowainik/summoner, pull requests merged in 2020-01, with the labels that each got.

#393 Add support for GitHub Actions CI (#351).
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Config.hs
  summoner-cli/src/Summoner/Project.hs
  summoner-cli/src/Summoner/Settings.hs
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/test/Test/Golden.hs
  summoner-cli/test/Test/TomlSpec.hs
  summoner-cli/test/golden/fullProject/.github/workflows/ci.yml
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: CI, generated project

#396 [#395] Add TUI button for GitHub Actions
  CHANGELOG.md
  README.md
  summoner-cli/src/Summoner/CLI.hs
  summoner-cli/src/Summoner/Template/Doc.hs
  summoner-cli/test/golden/fullProject/README.md
  summoner-tui/src/Summoner/Tui.hs
  summoner-tui/src/Summoner/Tui/Form.hs
  summoner-tui/src/Summoner/Tui/Kit.hs
Labels: TUI

#397 Fix GitHub Avtions name
  summoner-cli/src/Summoner/Template/GitHub.hs
  summoner-cli/src/Summoner/Template/Haskell.hs
  summoner-cli/test/golden/fullProject/.github/workflows/ci.yml
  summoner-cli/test/golden/fullProject/test/Spec.hs
Labels: bug
